<h4>Rewards</h4>
  <br>
    <div class="row hstack gap-3">
      <% rewards.each do |reward| %>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= reward.title.first(20) %></h5>
            <h5 class="card-title"><%= reward.description.first(20) %></h5>
            <h5 class="card-title"><%= reward.price %></h5>
            <td><%= link_to 'Show', admin_reward_path(reward), class:"btn btn-sm btn-outline-secondary" %></td>
            <td><%= link_to 'Edit', edit_admin_reward_path(reward), class:"btn btn-sm btn-outline-secondary" %></td>
            <td><%= link_to 'Destroy', admin_reward_path(reward), class:"btn btn-sm btn-outline-secondary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>
       <br>
      <% end %>
    </div>
