<h4>Rewards <%= link_to 'New Reward', new_admin_reward_path, class:"btn btn-sm btn-outline-secondary" %></h4> 
  <%= form_tag import_admin_rewards_path, multipart: true do %>
    <%= file_field_tag :file, class:"form-control w-25" %> 
    <%= submit_tag "Import CSV file", class:"btn btn-sm btn-outline-secondary"%>  
  <% end %>
  <br>
    <div class="row hstack gap-3">
      <% rewards.each do |reward| %>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Title: <%= reward.title.first(20) %></h5>
            <h6 class="card-title">Description: <%= reward.description.first(20) %></h6>
            <h5 class="card-subtitle mb-2">
              <% if reward.photo.persisted?%>
                <%= image_tag reward.photo, width: '50px' %>
              <%end%>
            </h5>
            <h6 class="card-title">Price: <%= reward.price %></h6>
            <h6 class="card-title">Delivery Method: <%= reward.delivery_method %></h6>
            <h6 class="card-title">Available: <%= reward.number_of_available_items %></h6>
            <td><%= link_to 'Show', admin_reward_path(reward), class:"btn btn-sm btn-outline-secondary" %></td>
            <td><%= link_to 'Edit', edit_admin_reward_path(reward), class:"btn btn-sm btn-outline-secondary" %></td>
            <td><%= link_to 'Destroy', admin_reward_path(reward), class:"btn btn-sm btn-outline-secondary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>
       <br>
      <% end %>
    </div>
