<p>
  <strong>First name:</strong>
  <%= employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= employee.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= employee.email %>
</p>

<p>
  <strong>Available kudos:</strong>
  <%= employee.number_of_available_kudos %>
</p>

<%= link_to 'Edit', edit_admin_employee_path(employee), class:"btn btn-sm btn-outline-secondary" %>
<%= link_to 'Back', admin_employees_path, class:"btn btn-sm btn-outline-secondary" %>
