<h4>Rewards</h4>
  <br>
    <div class="row hstack gap-3">
      <% rewards.each do |reward| %>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= reward.title.first(20) %></h5>
            <h5 class="card-title"><%= reward.price %></h5>
            <td><%= link_to 'Show', reward_path(reward), class:"btn btn-sm btn-outline-secondary" %></td>
            <td><%= link_to 'Buy', orders_path(reward: reward), method: :post, class:"btn btn-sm btn-outline-secondary" %></td>
          </div>
        </div>
       <br>
      <% end %>
    </div>
  <br>
    <div class="pagination">
        <% if page > 0 %>
          <li class="page-item"><%= link_to "Previous", rewards_path(page: page - 1), class: "page-link" %></li>
        <%else%>
          <li class="page-item disabled"><a class="page-link">Previous</a></li>
        <%end%>
        <% (page).times do |x|%>
          <li class="page-item", data-test-id="page_first"><%= link_to x+1, rewards_path(page: x), class: "page-link" %></li>
        <% end %>
        <li class="page-item active"><%= link_to page+1, rewards_path(page: page), class: "page-link" %></li>
        <% (number_of_pages-page-1).times do |y|%>
          <li class="page-item", data-test-id="page_last"><%= link_to y+2+page, rewards_path(page: y+1+page), class: "page-link" %></li>
        <% end %>
        <% if page < number_of_pages - 1 %>
          <li class="page-item"><%= link_to "Next", rewards_path(page: page + 1), class: "page-link" %></li>
        <%else%>
          <li class="page-item disabled"><a class="page-link">Next</a></li>
        <%end%>
    </div>
