<h4>Orders <%= link_to 'Export Orders List', admin_orders_path(format: :csv), class:"btn btn-sm btn-outline-secondary" %></h4>
  <br>
    <div class="row hstack gap-3">
      <% orders.each do |order| %>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= order.reward_snapshot.title %></h5>
            <p class="card-text"><%= order.reward_snapshot.description %></p>
            <h6 class="card-subtitle mb-2 text-muted">Placed by: 
              <% if order.employee.first_name.nil? %>
                <td class="text-center"><%= order.employee.email %></td>
              <%else%>
                <td class="text-center"><%= order.employee.first_name %> <%= order.employee.last_name %></td>
              <%end%>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">Price: <%= order.reward_snapshot.price %></h6>
            <h6 class="card-subtitle mb-2 text-muted">Purchase time: <%= tag.time l(order.created_at, format: :short), datetime: order.created_at %></h6>
            <h6 class="card-subtitle mb-2 text-muted">
              <%if order.not_delivered?%>
                Status: Not delivered 
              <br>
                <%= link_to 'Deliver', admin_order_path(order), method: :patch, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-secondary" %>
              <% else %>
                Status: Delivered
              <%end%>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">Delivery method: 
              <% if order.reward_snapshot.delivery_method == 'post'%>
                <%= "#{order.reward_snapshot.delivery_method}, #{order.address_snapshot.street} #{order.address_snapshot.postcode} #{order.address_snapshot.city}" %>
              <% else %>
                <%= order.reward_snapshot.delivery_method %>
              <% end %>
            </h6>
          </div>
        </div>
       <br>
      <% end %>
    </div>
