<%= form_with(model: kudo) do |form| %>
  <% if kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
        <% kudo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :content %>
    <%= form.text_area :content, class:"form-control" %>
  </div>
  
  <div class="field mb-3">
    <%= form.label :employee_id %>
    <%= collection_select( :kudo, :employee_id, Employee.all, :id, :email, {}, {:class => 'form-select'}) %>
  </div>
  
   <div class="field mb-3">
    <%= form.label :receiver_id %>
    <%= collection_select( :kudo, :receiver_id, Employee.all, :id, :email, {}, {:class => 'form-select'}) %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-sm btn-outline-secondary" %>
    <%= link_to 'Back', kudos_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>
<% end %>
