<p>
  <strong>Title:</strong>
  <%= kudo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= kudo.content %>
</p>

<p>
  <strong>Employee:</strong>
  <%= kudo.employee.email %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= kudo.receiver.email %>
</p>

<p>
  <strong>Company Value:</strong>
  <%= kudo.company_value.title %>
</p>

<% if policy(@kudo).update? %>
      <%= link_to 'Edit', edit_kudo_path(@kudo), class:"btn btn-sm btn-outline-secondary" %>
      <%= link_to 'Back', kudos_path, class:"btn btn-sm btn-outline-secondary" %>
<% else %>
      <%= link_to 'Back', kudos_path, class:"btn btn-sm btn-outline-secondary" %>
<% end %>
