<h4>Kudos <%= link_to 'Create New Kudo', new_admin_kudo_path, class:"btn btn-sm btn-outline-secondary" %></h4>
  <br>
    <div class="row hstack gap-3">
      <% kudos.each do |kudo| %>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= kudo.title.first(20) %></h5>
            <p class="card-text"><%= kudo.content.first(80) %></p>
            <h6 class="card-subtitle mb-2 text-muted">From: 
              <% if kudo.employee.first_name.nil? %>
                <td class="text-center"><%= kudo.employee.email %></td>
              <%else%>
                <td class="text-center"><%= kudo.employee.first_name %> <%= kudo.employee.last_name %></td>
              <%end%>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">To: 
              <% if kudo.receiver.first_name.nil? %>
                <td class="text-center"><%= kudo.receiver.email %></td>
              <%else%>
                <td class="text-center"><%= kudo.receiver.first_name %> <%= kudo.receiver.last_name %></td>
              <%end%>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">Value: <%= kudo.company_value.title %></h6>
            <td><%= link_to 'Show', admin_kudo_path(kudo), class:"btn btn-sm btn-outline-secondary" %></td>
            <td><%= link_to 'Edit', edit_admin_kudo_path(kudo), class:"btn btn-sm btn-outline-secondary" %></td>
            <td><%= link_to 'Destroy', admin_kudo_path(kudo), class:"btn btn-sm btn-outline-secondary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>
       <br>
      <% end %>
    </div>
