<p>
  <strong>Title:</strong>
  <%= kudo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= kudo.content %>
</p>

<p>
  <strong>Employee:</strong>
  <% if kudo.employee.first_name.nil? %>
    <td class="text-center"><%= kudo.employee.email %></td>
  <%else%>
    <td class="text-center"><%= kudo.employee.first_name %> <%= kudo.employee.last_name %></td>
  <%end%>
</p>

<p>
  <strong>Receiver:</strong>
  <% if kudo.receiver.first_name.nil? %>
    <td class="text-center"><%= kudo.receiver.email %></td>
  <%else%>
    <td class="text-center"><%= kudo.receiver.first_name %> <%= kudo.receiver.last_name %></td>
  <%end%>
</p>

<p>
  <strong>Company Value:</strong>
  <%= kudo.company_value.title %>
</p>

<%= link_to 'Edit', edit_admin_kudo_path(kudo), class:"btn btn-sm btn-outline-secondary" %>
<%= link_to 'Back', admin_kudos_path, class:"btn btn-sm btn-outline-secondary" %>
