<%= form_with(model: order_form, url: orders_path) do |form| %>
  <% if order_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_form.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    Are you sure that you want to buy <%= reward.title %>?
  </div>

    <% if reward.delivery_method == 'post' %>
      <div id="only_post" class="field">
        <div class="field">
          <%= form.label 'Addresses:', class: 'form-label' %>
          <% select = employee.addresses.sort_by(&:last_used).reverse.collect { | addresses | [addresses.full_address, addresses.id] }%>
          <% select << ['Add new address', nil] %>
          <%= form.select(:address_id, options_for_select(select, employee.addresses)) %>
        </div>


        <div id="only_add_address">
          <div class="field mb-3">
            <%= form.label 'Street: ', class: 'form-label' %>
            <%= form.text_field :street, class: 'form-control' %>
          </div>
            <div class="field mb-3">
            <%= form.label 'Postcode: ', class: 'form-label' %>
            <%= form.text_field :postcode, class: 'form-control' %>
          </div>
            <div class="field mb-3">
            <%= form.label 'City: ', class: 'form-label' %>
            <%= form.text_field :city, class: 'form-control' %>
          </div>
          <br/>
        </div>
      </div>
    <% end %>
      <%= form.hidden_field :reward, value: reward.id %>
  <div class="actions">
    <%= form.submit "Buy", class:"btn btn-sm btn-outline-secondary" %>
    <%= link_to 'Back', rewards_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>
<% end %>
