<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    Are you sure that you want to buy <%= reward.title %>?
  </div>

    <% if reward.delivery_method == 'post' %>
      <%= form.fields_for address do |builder_address| %>
              <div class="field">
                <%= builder_address.label 'Street: ', class: 'form-label' %>
                <%= builder_address.text_field :street, class: 'form-control' %>
              </div>
                <div class="field">
                <%= builder_address.label 'Postcode: ', class: 'form-label' %>
                <%= builder_address.text_field :postcode, class: 'form-control' %>
              </div>
                <div class="field">
                <%= builder_address.label 'City: ', class: 'form-label' %>
                <%= builder_address.text_field :city, class: 'form-control' %>
              </div>
      <% end %>
    <% end %>
      <%= form.hidden_field :reward_id, value: reward.id %>
  <div class="actions">
    <%= form.submit "Buy", class:"btn btn-sm btn-outline-secondary" %>
    <%= link_to 'Back', rewards_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>
<% end %>
