<nav class="navbar navbar-light bg-success bg-opacity-10">
 
  <form class="container-fluid justify-content-start">
   <div class="container">
    
    <% if admin_user_signed_in?  %>
   
    <%= link_to 'Home page', pages_home_path, class:"btn btn-outline-success me-2" %>
    
    <%= link_to 'Admin Panel', admin_root_path, class:"btn btn-outline-success me-2"%>
    
    <%= link_to 'Kudos', admin_kudos_path, class:"btn btn-outline-success me-2" %>
    
    <%= link_to 'New Kudo', new_admin_kudo_path, class:"btn btn-outline-success me-2" %>
    
    <%= link_to 'Company Values', admin_company_values_path, class:"btn btn-outline-success me-2" %>
    
    <%= link_to 'New Company Value', new_admin_company_value_path, class:"btn btn-outline-success me-2" %>
    
    <%= link_to 'Rewards', admin_rewards_path, class:"btn btn-outline-success me-2" %>
    
    <%= link_to 'New Reward', new_admin_reward_path, class:"btn btn-outline-success me-2" %>
    
    <%= link_to 'Log out', destroy_admin_user_session_path, method: :delete, class:"btn btn-outline-success me-2" %>
    
    <% else %>
     
    <%= link_to 'Login page', new_employee_session_path, class:"btn btn-sm btn-outline-secondary" %>
    
    <%= link_to 'Admin Panel', admin_root_path, class:"btn btn-sm btn-outline-secondary" %>
        
    <% end %>   
     
   </div>
  </form>
</nav>
