<nav class="navbar navbar-light bg-success bg-opacity-10">
 
  <form class="container-fluid justify-content-start">
   <div class="container">
   
   <% if employee_signed_in?  %>
   
    <%= link_to 'Home page', pages_home_path, class:"btn btn-outline-success me-2" %>

    <%= link_to 'Kudos', kudos_path, class:"btn btn-outline-success me-2" %>

    <%= link_to 'New Kudo', new_kudo_path, class:"btn btn-outline-success me-2" %>

    <%= link_to 'Rewards', rewards_path, class:"btn btn-outline-success me-2" %>
    
    <%= link_to 'Orders', orders_path, class:"btn btn-outline-success me-2" %>

    <form class="d-flex">
      <span class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
        <%= current_employee.kudos_score %>
      </span>
    </form>
    
    <%= link_to 'Sign out', destroy_employee_session_path, method: :delete, class:"btn btn-outline-success me-2" %>
   
    <% else %>
     
    <%= link_to 'Login page', new_employee_session_path, class:"btn btn-sm btn-outline-secondary" %>
    
    <%= link_to 'Admin Panel', admin_root_path, class:"btn btn-sm btn-outline-secondary" %>
    
    <% end %>
   </div>
  </form>
</nav>
 