<%= form_with(model: [:admin, online_code ]) do |form| %>
  <% if online_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(online_code.errors.count, "error") %> prohibited this online code from being saved:</h2>

      <ul>
        <% online_code.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field mb-3">
  <%= form.label :code %>
  <%= form.text_field :code %>
</div>

<div class="field">
  <%= form.label 'Reward: ' %>
  <%= collection_select( :online_code, :reward_id, Reward.online, :id, :title, {}, {:class => 'form-select'}) %>
</div>

<div class="actions">
  <%= form.submit class:"btn btn-sm btn-outline-secondary" %>
  <%= link_to 'Back', admin_online_codes_path, class:"btn btn-sm btn-outline-secondary" %>
</div>
<% end %>
